body {
    margin: 0;
}
#header-bar {
    background-color: #232323;
    height: 8px;
}
#main {
    width: 1000px;
    /* wyśrodkowanie #main */
    margin-left: auto;
    margin-right: auto;
}
#logo{
    padding-top: 30px;
}
#navigation{
    padding: ;
    padding-top: 50px;
    font-family:sans-serif;
}
#header {
    /* zmiana sposobu pozycjonowania elementów */
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
#header a {
    /* usunięcie podkreśleń */
    text-decoration: none;
    color: #4f9ae0;
    /* kapitalizacja */
    text-transform: uppercase;
}
#logo2{
    padding-top: 30px;
}
#text{
    color: #4f9ae0;
    font-family:sans-serif;
    font-size: 30px;
    text-align: center;
}
#about-us {
    display: flex;
    font-size: 20px;
    /* wysokość wiersza tekstu */
    line-height: 30px;
}
/* selektor - każdy <p> wewnątrz <element id="about-left"> */
#about-left p {
    /* wyśrodkowanie tekstu w <p> */
    text-align: center;
}
#medium{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #aaa;}
#circles {
    padding-top: 45px;
    display: flex;
    justify-content: center;
}
#circle1 {
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    /* zaokrąglenie narożników */
    border-radius: 50%;
    /* przezroczystość elementu i jego zawartości */
    opacity: 0.7;
}
/* style po najechaniu myszą na element */
#circle1:hover {
    opacity: 0.85;
}
#circle2 {
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: -30px;
    opacity: 0.7;
}
#circle2:hover {
    opacity: 0.85;
}
#circle3 {
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: -30px;
    opacity: 0.7;
}
#circle3:hover {
    opacity: 0.85;
}
#tekstwkole1 {
    text-align: center;
    margin-top: 45%;
    font-family: fantasy;
    color: white;
    font-size: 20px;
}
#tekstwkole2 {
    text-align: center;
    margin-top: 45%;
    font-family: fantasy;
    color: white;
    font-size: 20px;
}
#tekstwkole3 {
    text-align: center;
    margin-top: 45%;
    font-family: fantasy;
    color: white;
    font-size: 20px;
}
#fotter_menu{
    padding-top:20px;
    display:flex;
font-style:inherit;
justify-content:space-evenly;
list-style-type: none;
font-size: 20px;
font-family:sans-serif;
list-style-type: none;
}
ul{
    list-style-type: none;
}
#pod{
    border-bottom: 1px solid #aaa;
}
#footer {
    background-color: #232d2f;
    /* obraz w tle */
    background-image: url(zabek.jpg);
    /* tryb powtarzania grafiki w tle */
    background-repeat: repeat-x;
    margin-top: 40px;
    height: 200px;
}
#footer_text{
    margin: 20px;
    color:white;
    display:flex;
    justify-content: center;
    list-style-type: none;
}
