@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: "poppins";
  font-size: 1.5em;
  background: #f2f2f2;
  text-shadow: 0 1px 0 white; 
}
.navbar {
  background: white;
  padding: 1em;
}

.logo {
  height: 2em;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.6em;
}

span {
  color: green;
}
nav{
  display: none;
}

.container1{
  display: flex;
  justify-content: space-between;
}

.mobile-menu{
  display: flex;
  cursor: pointer;
}
.secondary-nav{
  margin-top: -.1em;
}

ul{
  list-style-type: none;
}



.front-img{
  width: 100%;
}



.container2{
  margin-top: 5em;
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}
.nasze-dokonania-img{
  height: 8em;
  border-radius: 25px;
}
.money-text{
  place-content: space-between;
}

.contact-part{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
label{
  display: block;
  font-size: 1.2em;
}
input[type="text"], textarea{
  width: 100%;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
.send-message-cat{
  background-color: green;
  width: 100%;
  padding: .8em;
  margin-top: 1em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;

}
.menu-btn{
  display: block;
}
nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: #20272e;
  padding: 1em;
  margin-top: 150px;
}
ul.primary-nav {
  margin-top: 5em;
}
a{
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}
@media (min-width: 1450px) {

  .mobile-menu{
    display:none;
  }
  body{
    margin: 0 15%;
  }
  .navbar .container1 .container2{
    display: grid;
    grid-template-columns: 180px auto;
  }
  .navbar{
    height: 7em;
  }
  nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background: none;
    height: auto;
    position:absolute;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
    text-align: left;
    margin-top: 3.5em;
  }
  ul{
    display: flex;
  }
  a{
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  ul.primary-nav{
    margin:0;
  }
  li.current a{
    font-weight:bold;
  }
  li.sign-up a {
    color: green;
    border: 3px solid green;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .front-img{
    width: 70%;
  }
  label{
    display: block;
    font-size: 1em;
  }
  input[type="text"], textarea{
    width: 50%;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  .send-message-cat{
    background-color: green;
    width: 50%;
    padding: .8em;
    margin-top: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
  }
}
@media (min-width: 1450px){

}