@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: "poppins";
  font-size: 1.5em;
  background: #f2f2f2;
  text-shadow: 0 1px 0 white; 
}
.navbar {
  background: white;
  padding: 1em;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.6em;
}

span {
  color: green;
}
nav{
  display: none;
}

.container1{
  display: flex;
  justify-content: space-between;
}

.mobile-menu{
  display: flex;
  cursor: pointer;
}


ul{
  list-style-type: none;
}



.front-img{
  width: 100%;
}

.text-front{}

.container2{
  margin-top: 5em;
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}
.money-text{
  place-content: space-between;
}

.contact-part{
  margin-left: 20%;
  margin-right: 20%;
}
label{
  display: block;
  font-size: 1.2em;
}
input[type="text"], textarea{
  width: 100%;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
.send-message-cat{
  background-color: green;
  width: 100%;
  padding: .8em;
  margin-top: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;

}
.menu-btn{
  display: block;
}
nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  right: 0;
  top: 0;
  background: #20272e;
  padding: 1em;
  margin-top: 150px;
}
ul.primary-nav {
  margin-top: 5em;
}
a{
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}
.mobile-menu{
  display: block;
}
@media (max-width: 768px) {

  .mobile-menu{
    display: none!important;
  }
  
}
